html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	background-color: #240a00;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	text-align: center;
}

/*
h3 {
	text-transform: uppercase;
	font-weight: 600/800/400;
}*/


