html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	background-color: #240a00;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	text-align: center;
	font-size: 2em
}

nav li {
	float: left;
	margin: 0;
	width: 30%;
	text-align: center;
}

.li {
	width: 20%;
}

nav {
	float: left;
	overflow: hidden;
	width: 100%;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

nav a {
	margin: 0;
	color: #e68d24;
	text-decoration: none;
	font-size: 1rem;
	padding: 0.5em 0em 0.5em 0em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #b6511b;
	display: block;
}

nav a:hover {
	color: #4c1d0a;
	background-color: #e68d24;
}

.banner {
	background-image: url("../images/store-front.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: 0;
}

.banner p {
	padding-top: 6em;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	text-align: left;
	font-size: 2em;
	line-height:  1em;
	margin: 0;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.sub-banner {
	background-color: #b6511b;
}

.p1, .p2 {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
}

.p1 {
	padding-top: 1em;
	color: #240a00;
	line-height: 1.2em;
}

.p2 {
	padding-top: 0.7em;
	padding-bottom: 1em;
	color: #fff;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	color: #4c1d0a;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.8em;
}

.brunch, .salads, .entrees, .starters, .sandwiches, .desserts {
	width: 50%;
	float: left;
	padding: 1em;
}

.brunch img, .salads img, .entrees img, .starters img, .sandwiches img, .desserts img {
	width: 100%;
}

.entrees, .desserts {
	padding-bottom: 2.5em;
}

h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 1em;
	color: #005a84;
}

.beer-on-tap {
	clear: left;
	color: #e68d24;
	padding-bottom: 0.5em;
	background-color: #240a00;
}

.millst-organic, .millst-tankhouse, .millst-cobblestone, .beaus, .steamwhistle, .wellington, .amsterdam, .creemore, .sapporo, .blanchedechambly {
	width: 50%;
	float: left;
	padding: 1em;
	margin: 0;
	background-color: #240a00;
}

.millst-organic img, .millst-tankhouse img, .millst-cobblestone img, .beaus img, .steamwhistle img, .wellington img, .amsterdam img, .creemore img, .sapporo img, .blanchedechambly img {
	width: 100%;
}

.millst-organic h3, .millst-tankhouse h3, .millst-cobblestone h3, .beaus h3, .steamwhistle h3, .wellington h3, .amsterdam h3, .creemore h3, .sapporo h3, .blanchedechambly h3 {
	color: #e68d24;
	font-size: 1em;
	line-height: 1em;
}

.millst-organic p, .millst-tankhouse p, .millst-cobblestone p, .beaus p, .steamwhistle p, .wellington p, .amsterdam p, .creemore p, .sapporo p, .blanchedechambly p {
	color: #b6511b;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0;
	line-height: 1.3em;
}

.sapporo p {
	color: #240a00;
}

.events {
	clear: left;
	padding-bottom: 0em;
}

.beer, .music, .trivia, .mic {
	width: 50%;
	float: left;
	padding: 1em;
	text-align: center;
	line-height: 1em;
}

.beer img, .music img, .trivia img, .mic img {
	width: 75%;

}


